* {
  padding: 0%;
  margin: 0;
  font-family: sans-serif;
}
body {
  background: url("pexels-alexandra-folster-13986931.jpg");
  background-size: cover;
}
.login-form {
  width: 400px;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: rgb(33, 33, 32);
}
.login-form h1 {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  margin: 40px 0px;
}
.login-form p {
  font-size: 20px;
  margin: 15px 0px;
}
.login-form input {
  font-size: 16px;
  width: 100%;
  padding: 15px 10px;
  border: 0ch;
  outline: none;
  border-radius: 5px;
}
.login-form button {
  font-size: 18px;
  font-weight: bold;
  margin: 20px 0;
  padding: 10px;
  border: none;
  border-width: 5px;
}
